<div class="fitness">
   <div class="container">
	<div class="row">
		<div class="banner-text">
            <div class="h1" id="title-behind">To Start Moving</div>
              <div class="h1" id="title-the">Please</div>
                  <div class="h1" id="title-lens"><a href="/users/signup">Sign Up</a></div>
                     <div class="h2" id="subtitle"><a href="/users/login">Sign In!!</a></div>
          </div>
	</div>
</div>
</div>